@font-face {
    font-family: 'OpenSans';
    src: url('/Fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('woff2'),
         url('/Fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
